



  <!--name header -->

<div id="title-container">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
        <h1><%= I18n.t 'Relación con inversionistas' %></h1>
      </div>
      </div>
    </div>
  </div>
  <!--name header -->

  <div class="container">
    <div class="row space15"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="h2-container">
          <h2>Grupo Industrial Saltillo, <%= I18n.t 'comprometidos con nuestros inversionistas' %></h2>
          <h5><%= I18n.t '8decadas' %></h5>
        </div>
      </div>
    </div>

    <div class="row space10"></div>

    <!-- menus inversionistas -->
    <div class="row">
            <div class="investor-main-menu col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <i class="fa fa-th-list"></i>
                <h2><%= I18n.t 'Nosotros' %></h2>
                    <ul class="list-group">
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/historia"><%= I18n.t 'Historia' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/perfil"><%= I18n.t 'Perfil' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/estrategia"><%= I18n.t 'Estrategia' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/gis-numeros"><%= I18n.t 'GIS en números' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/directivos"><%= I18n.t 'Equipo directivo' %></a></li>

                    </ul>

                <div class="bottom-border-we-work">
                    <div class="pointer">
                    </div>
                </div>
            </div>
            <div class="investor-main-menu col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <i class="fa fa-th-large"></i>
                <h2><%= I18n.t 'Gobierno corporativo' %></h2>
                <ul class="list-group">
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/consejo-administracion"><%= I18n.t 'Consejo de Administración' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/comites"><%= I18n.t 'Comités' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/codigos-estatutos"><%= I18n.t 'Códigos y estatutos' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/estructura-accionaria"><%= I18n.t 'Estructura accionaria' %></a></li>
                      <li class="list-group-item"><a href="/<%= I18n.locale %>/auditor-externo"><%= I18n.t 'Auditor externo' %></a></li>

                    </ul>
                <div class="bottom-border-we-work">
                    <div class="pointer">
                    </div>
                </div>
            </div>
            <div class="investor-main-menu col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <i class="fa fa-folder-open"></i>
                <h2><%= I18n.t 'Información financiera' %></h2>
                <ul class="list-group">
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/fundamentales"><%= I18n.t 'Fundamentales' %></a></li>
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/informes-trimestrales"><%= I18n.t 'Informes trimestrales' %></a></li>
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/informes-anuales"><%= I18n.t 'Informes anuales' %></a></li>
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/comunicados"><%= I18n.t 'Comunicados' %></a></li>
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/registros-bmv"><%= I18n.t 'Registros BMV' %></a></li>
                  <li class="list-group-item"><a href="/<%= I18n.locale %>/calendario-financiero"><%= I18n.t 'Calendario' %></a></li>
                  </ul>
                <div class="bottom-border-we-work">
                    <div class="pointer">
                    </div>
                </div>
            </div>
            <div class="investor-main-menu col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <i class="fa fa-bar-chart-o"></i>
                <h2><%= I18n.t 'infbursatil' %> </h2>
                 <ul class="list-group">

                    <li class="list-group-item"><a href="/<%= I18n.locale %>/cotizacion-accion"><%= I18n.t 'Cotización de la acción' %></a></li>
                    <li class="list-group-item"><a href="/<%= I18n.locale %>/dividendos"><%= I18n.t 'Dividendos' %></a></li>
                    <li class="list-group-item"><a href="/<%= I18n.locale %>/razones-financieras"><%= I18n.t 'Razones financieras' %></a></li>
                    <li class="list-group-item"><a href="/<%= I18n.locale %>/cobertura-analistas"><%= I18n.t 'Cobertura de analistas' %></a></li>
                    <li class="list-group-item"><a href="/<%= I18n.locale %>/glosario"><%= I18n.t 'Glosario' %></a></li>

                    </ul>
                <div class="bottom-border-we-work">
                    <div class="pointer">
                    </div>
                </div>
            </div>
        </div>
    <!-- Services End -->

    <div class="row space10"></div>
  </div>
   <div class="promo-box-container2">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 text-center">
              <h2><%= I18n.t 'Informes trimestrales' %></h2>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
              <a href="historia.php" target="_blank"> <button class="btn bc-3"><%= I18n.t 'Descargar' %></button></a>
            </div>
        </div>
      </div>
  </div>
    <div class="container">

    <div class="row space20"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="h2-container">
          <h2><%= I18n.t 'Documentos destacados' %></h2>
          <div class="h2-line"></div>
          <div class="h2-line-left"></div>
          <div class="h2-line-right"></div>
        </div>
      </div>
    </div>

    <div class="row space50"></div>

  </div>

  <div class="container">
    <div class="row">

      <!-- Flex-3 -->
      <div class="flex-3">
        <ul class="slides">
          <li style="list-style: none">

            <div class="col-md-4 col-sm-12 project-container">
              <div class="project-container">
              <div class="project-img">
                <a href="/InformacionFinanciera/InformesAnuales/2013-GIS-Informe-Anual.pdf" target="_blank"><img src="/images/gis/informe-anual.png" alt=""></a>
              </div>
              <div class="project-info">
                <a href="/InformacionFinanciera/InformesAnuales/2013-GIS-Informe-Anual.pdf" target="_blank"><h4><%= I18n.t 'Informe anual' %></h4></a>
                <%= I18n.t 'ultimoinformeanualcontenido' %>
              </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-12">
              <div class="project-container">
              <div class="project-img">
               <a href="/InformacionFinanciera/InformesTrimestrales/2014-GIS-3T14.pdf" target="_blank"> <img src="/images/gis/trimestral.png" alt=""></a>
              </div>
              <div class="project-info">
                <a href="/InformacionFinanciera/InformesTrimestrales/2014-GIS-3T14.pdf" target="_blank"><h4><%= I18n.t 'ultimoreportetrimestral' %></h4></a>
                <%= I18n.t 'ultimoreportetrimestralcontenido' %>
              </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 project-container">
              <div class="project-container">
              <div class="project-img">
                <a href="<%= @investor_cloud_path%>/sostenibilidad/Informe_2013.pdf" target="_blank"><img src="/images/gis/sostenibilidad.jpg" alt=""></a>
              </div>
              <div class="project-info">
                <a href="<%= @investor_cloud_path%>/sostenibilidad/Informe_2013.pdf" target="_blank"><h4><%= I18n.t 'ultimoinformesostenibilidad' %> </h4></a>

              </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <!-- Flex-3 End -->

    </div>
  </div>



  <div class="space20"></div>
  <!-- Content End -->

  <!-- Promo Box -->

  <!-- Promo Box End -->

  <!-- Footer -->

  <!-- Footer End -->
