<!--Doctype-->
<%= erb :"/multidioma/bloques/generales/doctype" %>

<!--CSS-->
<%= erb :"/multidioma/bloques/portada/head" %>


<body id="portada">

<!--MENU-->
<%= erb :"/multidioma/bloques/generales/menu" %>


<!--Layerslider-->
<%= erb :"/es/bloques/portada/layerslider" %>



<section>

  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="portfolio-showcase-item">
          <div class="media-container">
            <img src="/img/ss/portada/s1.jpg" alt="">
            <div class="portfolio-showcase-item-overlay">
              <div class="portfolio-showcase-item-content">
                <h2>Servicios Integrales</h2>
                <h6 class="text-left">experiencia, compromiso, eficiencia</h6>
                <div class="spacer5"></div>
                <a class="btn btn-black-layout btn-lg flat" href="portfolio-detail.html">En detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="portfolio-showcase-item">
          <div class="media-container">
            <img src="/img/ss/portada/historia.jpg" alt="">
            <div class="portfolio-showcase-item-overlay">
              <div class="portfolio-showcase-item-content">
                <h2>Nuestra Historia</h2>
                <h6 class="text-left">Más de 60 años de experiencia</h6>
                <div class="spacer5"></div>
                <a class="btn btn-black-layout btn-lg flat" href="#">En detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="portfolio-showcase-item">
          <div class="media-container">
            <img src="/img/ss/portada/i3.jpg" alt="">
            <div class="portfolio-showcase-item-overlay">
              <div class="portfolio-showcase-item-content">
                <h2>Nuestra Filosofía</h2>
                <h6 class="text-left">Misión| Visión | Servicios y Valores Institucionales</h6>
                <div class="spacer5"></div>
                <a class="btn btn-black-layout btn-lg flat" href="portfolio-detail.html">En detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="portfolio-showcase-item">
          <div class="media-container">
            <img src="/img/ss/portada/exploracion.jpg" alt="">
            <div class="portfolio-showcase-item-overlay">
              <div class="portfolio-showcase-item-content">
                <h2>Áreas de Práctica</h2>
                <h6 class="text-left">Más de mil clientes activos</h6>
                <div class="spacer5"></div>
                <a class="btn btn-black-layout btn-lg flat" href="portfolio-detail.html">En detalle</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer60"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Publicaciones</h2>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-4">
        <div class="services-1">
          <div class="team-img">
            <img src="/img/ss/contenidos/interconexiones.jpg" alt="team-1">
            <!--<a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a>-->
            <!--<div class="overlay"></div>-->
          </div>
          <br/>
          <!--<div class="services-1-icon">-->
            <!--<i class="fa fa-camera"></i>-->
          <!--</div>-->
          <div class="services-1-title">julio 20, 2015</div>
          <p>Actualidad Legal • Modelos de Contratos Provisionales de Interconexión </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="services-1">
          <!--<div class="services-1-icon">-->
            <!--<i class="fa fa-lightbulb-o"></i>-->
          <!--</div>-->
          <div class="team-img">
            <img src="/img/ss/contenidos/mgratorios.jpg" alt="team-1">
            <!--<a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a>-->
            <!--<div class="overlay"></div>-->
          </div>
          <br/>
          <div class="services-1-title">julio 13, 2015</div>
          <p>Aspectos Migratorios para actividades Empresariales • Alejandro Luna y José Ramón Ayala • Revista Éxito Empresarial </p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="services-1">
          <!--<div class="services-1-icon">-->
            <!--<i class="fa fa-eyedropper"></i>-->
          <!--</div>-->
          <div class="team-img">
            <img src="/img/ss/contenidos/exito_fracaso.jpg" alt="team-1">
            <!--<a href="mailto:example@example.com" class="team-email"><i class="fa fa-envelope"></i></a>-->
            <!--<div class="overlay"></div>-->
          </div>
          <br/>
          <div class="services-1-title">julio 1, 2015</div>
          <p>Reforma Fiscal de 2014: éxito y fracaso • Mariano Calderón • Revista Consultoría </p>
        </div>
      </div>
    </div>
  </div>

  <div class="spacer80"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="section-title">Superando expectativas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="carousel-items-slider">
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p1.jpg" alt="client1"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p2.jpg" alt="client1"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p3.jpg" alt="client1"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p4.jpg" alt="client1"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p1.jpg" alt="client1"></a>
          </div>
          <div class="item">
            <a href="#"><img src="/img/ss/portada/p2.jpg" alt="client1"></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="spacer60"></div>

  <div id="parallax-one" class="parallax" style="background-image:url(img/parallax/1.png);">
    <div class="parallax-colored-dark">
      <div class="parallax-text-container-1">
        <div class="parallax-text-item">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="color-white">Socialmente responsables</h2>
                <h3 class="text-theme text-center">Nuestro compromiso por un México mejor</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <p class="text-center">Somos socialmente responsables al estar convencidos de que la práctica del derecho debe realizarse con calidad, ética y vocación de servicio a la comunidad. Privilegiamos los valores que fomentan el desarrollo humano y que contribuyen a la búsqueda y consolidación de un México mejor.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</section>


<%= erb :"/multidioma/bloques/generales/footer" %>

<%= erb :"/multidioma/bloques/portada/javascript" %>

</body>
</html>
