<!--Doctype-->
<%= erb :"/multidioma/bloques/generales/doctype" %>

<!--CSS-->
<%= erb :"/multidioma/bloques/contenido/head" %>

<body>



<!--MENU-->
<%= erb :"/multidioma/bloques/generales/menu" %>



<!--CONTENIDO-->
<section>


  <!--Encabezado y Descripcion de la vista-->

  <div id="parallax-home" class="parallax" style="background-image:url(/img/slider-main/1.jpg);">
    <div class="overlay-dark">
      <div class="parallax-text-container-home">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">


              <!--TITULO DE LA VISTA-->
              <h1 class="big-section-title color-white text-left">
                <% if I18n.locale.to_s == "en" %>

                    <%= @data[:tituloEn] %>

                <% else %>

                   <%= @data[:tituloES] %>

                <% end %>



              </h1>
              <!--<h3 class="text-theme text-left">Photography</h3>-->
              <div class="spacer10"></div>
              <div class="spacer20"></div>
            </div>
            <div class="col-sm-6">
              <h2 class="color-white text-left">
                <% if I18n.locale.to_s == "en" %>

                    <%= @data[:submenuTitleEn] %>

                <% else %>

                    <%= @data[:submenuTitle] %>

                <% end %>
              </h2>
              <div class="half-dark"></div>
              <div class="spacer30"></div>


              <p class="text-left">

                <% if I18n.locale.to_s == "en" %>

                  <%= @data[:descripcionEn] %>

              <% else %>

                  <%= @data[:descripcionES] %>

              <% end %>

              </p>



            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



  <!--CONTENIDO DE LA VISTA-->

    <%= yield %>


</section>


<%= erb :"/multidioma/bloques/generales/footer" %>

<%= erb :"/multidioma/bloques/contenido/javascript" %>

</body>
</html>
