<footer class="footer">
    <div class="container">
 
      <div class="row space10"></div>
      
      <div class="row">      
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <h4><%= I18n.t 'Nosotros' %></h4>
          
          <div class="footer-column">
            <p><%= I18n.t 'nosotros-descripcion' %><br>
           <br>
            <a href="https://www.facebook.com/GIS.mx" target="blank_"><i class="fa fa-facebook-square"></i></a>
            <a href="https://twitter.com/gis_mx" target="blank_"><i class="fa fa-twitter-square"></i></a>
            <a href="http://www.linkedin.com/company/grupo-industrial-saltillo" target="blank_"><i class="fa fa-linkedin-square"></i></a>
            </p>
          </div>  
        </div> 
        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
          <h4><%= I18n.t 'negocio2' %></h4>
          <div class="footer-column">
<!--             <a href="http://www.cifunsa.com.mx/" target="_blank">Cinfunsa</a><br> -->
            <a href="http://www.vitromex.com.mx/" target="_blank">Vitromex</a><br>
            <a href="http://www.calorex.com.mx/" target="_blank">Calorex</a><br>
             <a href="http://www.fluida.com.mx/" target="_blank">Fluida</a><br>
            <a href="http://cinsa.com.mx/" target="_blank">Cinsa</a><br>
            <a href="http://santaanita.com.mx/" target="_blank">Santa Anita</a><br>
            
           
          
          </div> 
 
        </div> 
        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
          <h4><%= I18n.t 'Trabaja en GIS' %></h4>
            <div class="footer-column">
            <p>
              <a href="http://oportunidades.gis.com.mx/" target="_blank"><%= I18n.t 'Bolsa de trabajo' %></a><br>
              <a href="<%= ruta_externa %>/etica.php"><%= I18n.t 'Política de empleo' %></a><br>
              <a href="<%= ruta_externa %>/historia.php"><%= I18n.t 'Historia' %></a><br>
              <a href="<%= ruta_externa %>/numeros.php"><%= I18n.t 'GIS en números' %></a><br>
            </p>
          </div> 
  
        </div> 
        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
          <h4><%= I18n.t 'Políticas' %></h4>
          <div class="footer-column">
            <p>
              <a href="<%= ruta_externa %>/privacidad.php"><%= I18n.t 'Política de Privacidad' %></a><br>
              <a href="<%= ruta_externa %>/ambiente.php"><%= I18n.t 'Política de Protección al Medio Ambiente' %></a><br>
              <a href="<%= ruta_externa %>/seguridad.php"><%= I18n.t 'Política de Seguridad y Salud Ocupacional' %></a><br>
              <a href="<%= ruta_externa %>/etica.php"><%= I18n.t 'Código de Ética' %></a><br>
              <a href="<%= ruta_externa %>/anomalias.php"><%= I18n.t 'Denuncia anomalias' %></a><br>
            </p>
          </div> 
  
        </div> 
        <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
          <h4><%= I18n.t 'Inversionistas' %></h4>
          <div class="footer-column">
            <p>
              <a href="/<%= I18n.locale %>/fundamentales"><%= I18n.t 'Fundamentales' %></a><br>
              <a href="/<%= I18n.locale %>/informes-trimestrales"><%= I18n.t 'Informes trimestrales' %></a><br>
              <a href="/<%= I18n.locale %>/informes-anuales"><%= I18n.t 'Informes anuales' %></a><br>
              <a href="/<%= I18n.locale %>/registros-bmv"><%= I18n.t 'Registros BMV' %></a><br>

            </p>
          </div> 
            
        </div> 
        
        <div class="space20"></div>
      </div>
      
    </div>
    
    <div class="copyright"> 
      <div class="container">  
        
        <div class="row space10"></div>
        
        <div class="row">
          <div class="col-md-12 center">
          2015 GIS. <%= I18n.t 'derechos' %> <%= I18n.t 'byirstrat' %> <a href="http://www.irstrat.com" rel="external" class="entiri">IRStrat</a>
          </div>   
        </div> 
  
        <div class="row space10"></div>
      
      </div>  
    </div>
  </footer>    